<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fsm_tp -->
      <package
            uri="http://www.example.org/fsm_tp"
            class="fsm_tp.Fsm_tpPackage"
            genModel="model/fsm_tp.genmodel"/>
   </extension>

</plugin>
